.map{
    z-index: 1;
    background-color: #F0E9E1;
    position: relative;
}

.spinner-box{
    text-align: center;
    height: 100vh;
    margin: 10% 0;
}

//CSS spinner code from https://glennmccomb.com/
//Thank you!
.spinner {
    animation: 2s linear infinite svg-animation;
    max-width: 50px;
    
    &-circle {
      animation: 1.4s ease-in-out infinite both circle-animation;
      display: block;
      fill: transparent;
      stroke: #15B1CC;
      stroke-linecap: round;
      stroke-dasharray: 283;
      stroke-dashoffset: 280;
      stroke-width: 10px;
      transform-origin: 50% 50%;
      transform: translate(-50%,-50%);
    }
  }
  
  // SVG animation.
  @keyframes svg-animation {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg)
    }
  }
  
  // Circle styles.
  
  // Circle animation.
  @keyframes circle-animation {
    0%,
    25% {
      stroke-dashoffset: 280;
      transform: rotate(0);
    }
    
    50%,
    75% {
      stroke-dashoffset: 75;
      transform: rotate(45deg);
    }
    
    100% {
      stroke-dashoffset: 280;
      transform: rotate(360deg);
    }
  }